amqp===2.6.1
beautifulsoup4===4.9.1
celery===4.2.1
eventlet===0.30.2
firebase-admin===4.5.1
Flask===1.1.2
google-cloud-firestore===2.0.2
google-cloud-storage===1.35.0
html5lib===1.1
httplib2===0.18.1
Jinja2===2.11.2
kombu===4.6.11
MarkupSafe===1.1.1
redis===3.5.3
requests===2.24.0
selenium===3.141.0
urllib3===1.25.10
Werkzeug===1.0.1
