#meta-container{
    padding-left: 0;
    padding-right: 0;
}
.roster-table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30vh;
    table-layout: fixed;
}
.roster-table .stat-cats{
    text-align: center;
    border-top: solid 0.16vh rgb(187, 187, 187);
    border-bottom: solid 0.16vh rgb(187, 187, 187)
}
.roster-table td{
    font-size: 16px;
}

.split{
    width:12vw
}
.else-split{
    width: 100%
}
.add-player{
    margin: 7px 7px 7px 7px;
}
.player_photo{
    text-align: center;
}
.player_photo>img{
    height: 5vh;
}

.add_button{
    text-align: center;
}
.add_button>img{
    margin-top: 4px;
    height: 5vh;
}


.roster-table thead{
    font-weight: normal;
}


.roster-info{
    text-align: left;
}

.roster-match{
    text-align: left;
    color: gray;
    font-size: 80%;
}
.player-stats{
    border-bottom: solid 0.16vh rgb(187, 187, 187)
}
.player-stats>td{
    color:black;
    text-align: center;
}

.✓{
    color: green;
    font-weight: bolder;
}

.△{
    color: orange;
    font-weight: bolder;
}

.✖{
    color: red;
    font-weight: bolder;
}
.popup-box{
    position: fixed;
    z-index: 1;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    transition-delay: 0.1s;
    transition: opacity 0.5s ease, z-index 0.1s ease;
}
.popup-content{
    height: 66%;
    width: 76%;
    margin-top: 34%;  
    margin-left: 12%;  
    background-color: rgba(255,255,255,1);
    border-radius: 5vw;
    transition: transform ease 0.4s,opacity 0.5s ease;;
    transition-delay: 0.1s;
    z-index: 2;
}
.popup-inner{
    display: flex;
    flex-direction: column;
    height: 95%;
    width: 90%;
    padding: 5%;
}
.pop-name{
    font-size: 2.8vh;
}
.pop-info{
    margin-top: 0.8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.75vh;
    color: gray;
}
.player_photo2 {
    height: 6.8vh;
    margin-right: 2.4vw;
}
hr{
    width: 100%;
    background-color: black;
    height: 0.12vh;
    border: none;
    margin-top: 0.7vh;
    margin-bottom: 0.2vh;
}
#bottom-hr{
    margin-bottom: 1vh;
}

.pop-hide{
    transform: translateY(200%);
}
.pop-stats{
    height: 44vh;
    overflow: scroll;
}
.pop-end{
    text-align: center;
}

.player-ctrl{
    font-size: 2vh;
    height: 4vh;
    width: 40vw;
    border-radius: 2vw;
}
.FA{
    color: green;
    background: #d7f6d7;
    border: solid 0.18vh #0b5a0b;
}
.WV{
    color: rgb(247, 141, 2);
    background: rgb(255 245 228);
    border: solid 0.18vh rgb(248 93 47 / 86%);}
.DP{
    color: red;
    background: rgb(255, 201, 201);
    border: solid 0.18vh rgba(255, 0, 0, 0.582);
}
.TR{
    color: rgb(16, 109, 231);
    background: rgb(193, 230, 252);
    border: solid 0.18vh navy;
}
.box-hide{
    z-index: -1;
    opacity: 0;
}

#yes{
    border: solid 1px green;
    background: rgb(225, 241, 225);
}

#no{
    border: solid 1px red;
    background:rgb(252, 228, 231);
}

select{
    text-align: center;
    font-size: 2vh;
    border-radius: 1.5vw;
    border: solid black 0.4vw;
    margin-left: 2vw;
    margin-top: 0.6vh;
    margin-bottom: 1.2vh;
    width: auto;
}

select:focus{
    outline-style: none;
}

.pop-table {
    font-size: 2vh;
    table-layout: fixed;
    border-collapse: collapse;
    line-height: 1.4;
}

.inactive {
    font-size: 1.4vh;
    color: white;
    display: inline-block;
    background-color: red;
    border: 0.7vw solid red;
    border-radius: 2vw;
    letter-spacing: 0.06em;
    padding-left: 0.08em;
    padding-right: 0.06em;
    opacity: 70%;
}

.pop-table tr{
    border-bottom: solid rgb(189, 189, 189) 0.18vh;
}

.pop-table td{
    min-width: 9.5vw;
    text-align: center;
}

.pop-matchup{
    text-align: left !important;
}

.md{
    color:rgb(133, 133, 133)
}

.pop-tab{
    background-color: #eeeeee;
    margin-top: 0.8vh;
    margin-bottom: 0.8vh;
    padding-top: 0.25vh;
    padding-bottom: 0.3vh;
    border: solid black 0vw;
}