{% extends "module.html" %}

{% block links %}
    <link rel="stylesheet" href="/static/stats/stylesheets/tran.css">
{%  endblock %}

{%block universal%}
<!-- <button>test</button> -->
<div class="popup-box box-hide">
    <div class="popup-content pop-hide">
    </div>
</div>
{%endblock%}
{% block body %}
<!-- <form class="add-form" type="post" autocomplete="off">
    <label for="username">Username: &nbsp;</label><input type="text" id="username"><br>
    <label for="name">Name: &nbsp;</label><input type="text" id="name"><br>
    <label for="league">League: &nbsp;</label><input type="text" id="league"><br>
    <input type="submit" value="Submit">
</form> -->
<span id="user" hidden>{{auth_user.info}}</span>

<select id="range" name="range">
    <option value="TodayT">Today</option>
    <option value="Last3T">Last 3 Matchdays (Total)</option>
    <option value="Last3A">Last 3 Matchdays (Average)</option>
    <option value="Last5T">Last 5 Matchdays (Total)</option>
    <option value="Last5A">Last 5 Matchdays (Average)</option>
    <option value="Last10T">Last 10 Matchdays (Total)</option>
    <option value="Last10A">Last 10 Matchdays (Average)</option>
    <option value="SeasonT">Season (Total)</option>
    <option value="SeasonA">Season (Average)</option>
</select>

<select id="f-position" name="f-position">
    <option value="AL">All Positions</option>
    <option value="GK">Goalkeepers</option>
    <option value="DF">Defenders</option>
    <option value="MD">Midfielders</option>
    <option value="FW">Forwards</option>
</select>

<table class="roster-table" id="roster-table">
    <!-- <button id="fetch">FETCH</button> -->
    <thead>
        <tr class="stat-cats">
            <!-- <td>name</td> -->
        </tr>
    </thead>
    <tbody class="roster">
    </tbody>
</table>


{% endblock %}
{% block scripts %}
    <script src="/static/js/tran.js"></script>
{% endblock %}

