{% extends "module.html" %}

{% block links %}
    <link rel="stylesheet" href="/static/stats/stylesheets/tran.css">
{%  endblock %}

{%block universal%}
<!-- <button>test</button> -->
<div class="popup-box box-hide">
    <div class="popup-content pop-hide">
    </div>
</div>
{%endblock%}
{% block body %}
<!-- <form class="add-form" type="post" autocomplete="off">
    <label for="username">Username: &nbsp;</label><input type="text" id="username"><br>
    <label for="name">Name: &nbsp;</label><input type="text" id="name"><br>
    <label for="league">League: &nbsp;</label><input type="text" id="league"><br>
    <input type="submit" value="Submit">
</form> -->
<span id="user" hidden>{{auth_user.info}}</span>

<table class="roster-table" id="roster-table">
    <!-- <button id="fetch">FETCH</button> -->
    <thead>
        <tr class="stat-cats">
            <!-- <td>name</td> -->
        </tr>
    </thead>
    <tbody class="roster">
    </tbody>
</table>


{% endblock %}
{% block scripts %}
    <script src="/static/js/tran.js"></script>
{% endblock %}

